{
  "plugins": [
    ["transform-flow-strip-types"],
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true
    }
  }
}
